  
<h1>This appointment</h1>

<p>Time:</p>
<%=@appointment.appointment_datetime.to_formatted_s(:long).split.insert(3, "at").join(" ")%>
<p>Patient:</p>
<%=link_to @appointment.patient.name, patient_path(@appointment.patient)%>
<p>Doctor:</p>
<%=link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%>